# Copy this template to secrets.py and replace with real values and delete this line

PGHOST='127.0.0.1'
PGDATABASE='loraserver_as_events'
PGPORT='5432'
PGUSER='loraserver_as_events'
PGPASSWORD='XXXXXX'
WHAT3WORDS_API_KEY='XXXXXXXXXXXXXXXXX'
